:root {
    --p: 48 100% 71%;
    --pf: 48 72% 63%;
    --pc: 0 0% 0%;
    --s: 328 36% 57%;
    --sf: 328 36% 54%;
    --sc: 0 0% 100%;
    --a: 174 60% 51%;
    --af: 174 60% 41%;
    --ac: 0 0% 100%;
    --n: 222 13% 19%;
    --nf: 223 14% 9%;
    --nc: 0 0% 100%;
    --b1: 220 14% 28%;
    --b2: 222 13% 18%;
    --b3: 223 14% 9%;
    --bc: 228 14% 93%;
    --in: 207 90% 54%;
    --su: 174 100% 29%;
    --wa: 36 100% 50%;
    --er: 14 100% 57%;
}

.min-h-screen-minus-nav {
    min-height: calc(100vh - 64px);
}

.link:hover {
    color: hsl(var(--pf));
    text-decoration: underline;
    cursor: pointer;
}

.btn-error:hover {
    background-color: hsla(14 90% 52%)!important;
    border-color: hsla(14 90% 52%)!important;
}

/* Color Picker Styling */
.color-input-wrapper {
    position: relative;
    overflow: hidden;
    width: 40px;
    height: 40px;
    border: solid 1px hsla(var(--bc)/0.2);
    border-radius: 100%;
}
  
.color-input {
    position: absolute;
    right: -8px;
    top: -8px;
    width: 56px!important;
    height: 56px!important;
    border: none;
    opacity: 1!important;
}

/* Select2 Styling */
.select2 {
    background-color: transparent;
}

.select2-container .select2-selection {
    background-color: hsl(var(--b1))!important;
    border-color: hsla(var(--bc)/0.2)!important;
    border-width: 1px!important;
    color: white;
    border-radius: .5rem!important;
}
.select2-container--focus .select2-selection {
    border-bottom-right-radius: 0px!important;
    border-bottom-left-radius: 0px!important;
}
.select2-search {
    background-color: transparent;
}
.select2-search__field {
    height: 25px!important;
}
.select2-results {
    background-color: hsl(var(--b1));
    border-bottom-left-radius: 0.5rem!important;
    border-bottom-right-radius: 0.5rem!important;
}
.select2-results .select2-results__option:last-child {
    border-bottom-right-radius: 0.5rem!important;
    border-bottom-left-radius: 0.5rem!important;
}
.select2-results__option--highlighted {
    background-color: hsl(var(--n))!important;
}
.select2-results__option--selected {
    background-color: hsl(var(--n))!important;
}

.select2-dropdown {
    border-color: hsla(var(--bc)/0.2)!important;
    border-width: 1px;
    background-color: hsl(var(--b1))!important;
    border-top: none!important;
    border-bottom-left-radius: 0.5rem!important;
    border-bottom-right-radius: 0.5rem!important;
}
.select2-selection__choice__remove:hover {
    background-color: hsl(var(--b1))!important;
    color: white!important;
}
.select2-selection__choice {
    background-color: hsl(var(--b1))!important;
    border-radius: .5rem!important;
}