{# designed to be imported #}

{% macro channel_list(channels) %}
    {% for chan in channels %}
        <div class="card m-0 mt-2">
            <div class="card-body p-2 bg-neutral-focus" style="border-radius: 0.5rem;">
                <div class="flex items-center">
                    <div class="flex-1 text-2xl">
                        #{{ chan.name }}
                    </div>
                    <div class="flex-none">
                        <a class="btn btn-primary btn-sm" href="{{ chan.id }}">
                            Manage
                        </a>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endmacro %}