# Behaviour
SLASH_GUILD_IDS = None  # Leave None for most cases.

SHARDS = 0  # Leave 0 for it to adjust automatically

OWNER_IDS = []  # List of owner ids
BOT_ID = 0  # Your bots id
BOT_PERM_INT = 0  # The permission int for the bot invite

WEBSITE_URL = "https://example.com"

DONATEBOT_PRODUCT_IDS = []

DONATE_ROLES = []  # List of roles received upon donation
PATRON_ROLES = []  # List of roles given to patrons
ROLE_SERVER = -1  # Server that the roles are located in

LANGUAGE_MAP = [
    {"code": "en_US", "name": "English (US)", "aliases": ["english", "en"]}
]

# Premium Stuffs
DEFAULT_LIMITS = {
    "starboards": 3,
    "sbemojis": 5,
    "aschannels": 3,
    "asemojis": 5,
    "permgroups": 50,
    "permroles": 50,
    "xproles": 5,
    "posroles": 0,
}

PREMIUM_LIMITS = {
    "starboards": 10,
    "sbemojis": 10,
    "aschannels": 10,
    "asemojis": 10,
    "xproles": 20,
    "posroles": 20,
}

CREDITS_PER_MONTH = 3

# Appearance
THEME_COLOR = int('FFE16C', 16)  # Main bot color
DARK_THEME_COLOR = int('0xff7b1c', 16)  # Darker version of bot color
ERROR_COLOR = int('F54251', 16)  # Color for error messages

# Links
VOTE_LINKS = []  # List of vote links
REVIEW_LINKS = []  # List of review links
PATREON_LINK = ""  # Link to your patreon
DONATE_LINKS = []  # List of doantion links
SUPPORT_INVITE = ""  # Invite to support server
BOT_INVITE = ""  # Bot invite
SLASH_AUTH = ""  # Link to authorize slash commands
DOCS = ""  # Link to documentation

# Extensions
EXTENSIONS = [
    "app.cogs.base",
    "app.cogs.premium",
    "app.cogs.starboard",
    "app.cogs.permroles",
    "app.cogs.awardroles",
    "app.cogs.profile",
    "app.cogs.owner",
    "app.cogs.cache",
    "app.cogs.settings",
    "app.cogs.utility",
    "app.cogs.fun",
    "app.cogs.leveling",
    "app.cogs.quick_actions",
    "app.cogs.stats",
    "app.cogs.autostarchannels",
    "app.cogs.blacklist",
    "app.cogs.global_checks",
    "jishaku",
]

TRANSLATORS = []

DEVELOPERS = []
