SLASH_GUILD_IDS = None  # Leave None for most cases.

SHARDS = 0  # Leave 0 for it to adjust automatically

OWNER_IDS = []  # List of owner ids
BOT_ID = 0  # Your bots id
BOT_PERM_INT = 0  # The permission int for the bot invite

REDIRECT_URI = "http://0.0.0.0:5000/api/callback/"

THEME_COLOR = int('FFE16C', 16)  # Main bot color
DARK_THEME_COLOR = int('0xff7b1c', 16)  # Darker version of bot color
ERROR_COLOR = int('F54251', 16)  # Color for error messages


# Links
VOTE_LINKS = []  # List of vote links
REVIEW_LINKS = []  # List of review links
PATREON_LINK = ""  # Link to your patreon
DONATE_LINKS = []  # List of doantion links
SUPPORT_INVITE = ""  # Invite to support server
BOT_INVITE = ""  # Bot invite
SLASH_AUTH = ""  # Link to authorize slash commands
DOCS = ""  # Link to documentation

# Extensions
EXTENSIONS = [
    "app.cogs.base",
    "app.cogs.starboard",
    "app.cogs.owner",
    "app.cogs.cache",
    "app.cogs.settings",
    "app.cogs.utility",
    "app.cogs.fun",
    "app.cogs.leveling",
    "app.cogs.quick_actions",
    "app.cogs.stats",
    "app.cogs.autostarchannels",
    "app.cogs.slash",
    "app.cogs.blacklist",
    "app.cogs.global_checks",
    "jishaku",
]
