aiohttp==3.7.3
astunparse==1.6.3
async-timeout==3.0.1
asyncpg==0.21.0
attrs==20.3.0
bleach==3.2.1
braceexpand==0.1.6
certifi==2020.12.5
chardet==3.0.4
colorama==0.4.4
discord-flags==2.1.1
discord-pretty-help==1.2.0
discord.py==1.6.0
docutils==0.16
emoji==0.6.0
humanize==3.2.0
idna==2.10
import-expression==1.1.4
jishaku==1.20.0.220
keyring==21.8.0
multidict==5.1.0
packaging==20.8
pkginfo==1.6.1
Pygments==2.7.4
pyparsing==2.4.7
python-dotenv==0.15.0
readme-renderer==28.0
requests==2.25.1
requests-toolbelt==0.9.1
rfc3986==1.4.0
six==1.15.0
tqdm==4.56.0
twine==3.3.0
typing-extensions==3.7.4.3
urllib3==1.26.2
webencodings==0.5.1
websockets==8.1
yarl==1.6.3
