aiocache==0.11.1
aiofiles==0.7.0
aiohttp==3.7.4.post0
alt-discord-flags==0.0.3
appdirs==1.4.4
astunparse==1.6.3
Async-OAuthlib==0.0.9
async-timeout==3.0.1
asyncpg==0.23.0
attrs==21.2.0
blinker==1.4
braceexpand==0.1.7
buildpg==0.2.3
cachetools==4.2.2
certifi==2020.12.5
cfgv==3.2.0
chardet==4.0.0
click==8.0.0
discord-ext-menus @ git+git://github.com/Rapptz/discord-ext-menus.git@309c70222eec33acacb8c21bbb0fbe9bc57de661
discord-ext-wizards @ git+git://github.com/CircuitsBots/discord-ext-wizards.git@b8dbd24fdc7e547e477165859bbb13d9f8a0b434
discord-pretty-help @ git+git://github.com/CircuitsBots/discord-pretty-help.git@a4523bb5a51bdd9f6a16bac2d214bdca820dfd0d
discord-py-slash-command==1.1.2
discord.py==1.7.2
distlib==0.3.1
emoji==1.2.0
filelock==3.0.12
flake8==3.9.2
Flask==2.0.0
h11==0.12.0
h2==4.0.0
hpack==4.0.0
humanize==3.5.0
Hypercorn==0.11.2
hyperframe==6.0.1
identify==2.2.4
idna==2.10
import-expression==1.1.4
itsdangerous==2.0.0
Jinja2==3.0.0
jishaku @ git+git://github.com/Gorialis/jishaku.git@873f863052a663efab3b6184d2516e03bf16bcf9
MarkupSafe==2.0.0
mccabe==0.6.1
msgpack==1.0.2
multidict==5.1.0
mypy-extensions==0.4.3
nodeenv==1.6.0
oauthlib==3.1.0
pathspec==0.8.1
patreon==0.5.0
Pillow==8.2.0
pre-commit==2.12.1
priority==1.3.0
pycodestyle==2.7.0
pyflakes==2.3.1
PyJWT==2.1.0
python-dotenv==0.17.1
PyYAML==5.4.1
Quart==0.15.0
quart-csrf==0.2
Quart-Discord==2.1.4
regex==2021.4.4
requests==2.25.1
six==1.16.0
toml==0.10.2
typed-ast==1.4.3
typing-extensions==3.10.0.0
ujson==4.0.2
urllib3==1.26.4
uvloop==0.15.2
virtualenv==20.4.6
websockets==9.0.2
Werkzeug==2.0.0
wsproto==1.0.0
WTForms==2.3.3
yarl==1.6.3
