{# designed to be imported #}

{% macro channel_list(channels) %}
    <div class="max-w-screen-md mx-auto">
        {% for chan in channels %}
            <div class="card bordered">
                <div class="card-body p-3 bg-neutral-focus">
                    <div class="flex items-center flex-col sm:flex-row">
                        <div class="flex-1 text-3xl">
                            #{{ chan.name }}
                        </div>
                        <div class="flex-none">
                            <a class="btn btn-primary" href="{{ chan.id }}">
                                Manage
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endmacro %}