{% extends "dashboard/server/base.jinja" %}
{% import "dashboard/server/forms.jinja" as forms %}
{% set tab="starboards" %}

{% block topstatic %}
    {{ super() }}
    <script type="module" defer>
        import { EmojiButton } from "https://unpkg.com/@joeattardi/emoji-button";
        const picker = new EmojiButton({
            theme: "dark",
            showRecents: false,
            showVariants: false,
        });
        const displayEmojiTrigger = document.querySelector("#display_emoji");

        picker.on("emoji", selection => {
            displayEmojiTrigger.innerHTML = selection.emoji
        });

        displayEmojiTrigger.addEventListener("click", () => picker.togglePicker(displayEmojiTrigger));
    </script>
{% endblock %}

{% block dashboardcontent %}
<div class="p-3 flex items-center" style="width: 100%; border-bottom: 1px solid grey;">
    <a href="{{ url_for('server_starboards', guild_id=guild.id) }}" class="btn btn-ghost btn-sm">Back</a>
    <div class="text-2xl ml-3">#{{ starboard.name }}</div>
</div>
<div class="p-4 max-w-screen-md mx-auto">
    <div class="accordion accordion-plus">
        <li class="accordion-item">
            <input id="accordion-check-1" type="checkbox">
            <label for="accordion-check-1" class="text-xl font-medium accordion-title">
                Appearance
            </label>
            <div class="accordion-body grid sm:grid-cols-2 gap-4">
                <div class="sm:col-span-2"></div>
                {% if starboard.color %}
                    {% set color=starboard.color %}
                {% else %}
                    {% set color="#ffe16c" %}
                {% endif %}
                {{ forms.input_color("Color", "color", color) }}
                <div class="form-control grid grid-cols-2">
                    <label class="label">
                        <span class="label-text">Display Emoji</span>
                    </label>
                    <div class="flex">
                        <div class="flex-1"></div>
                        <div id="display_emoji" class="btn btn-square btn-neutral text-2xl">{{ starboard.display_emoji }}</div>
                    </div>
                </div>
                {{ forms.input_toggle("Use Webhook", "use_webhook", starboard.use_webhook) }}
                {% if starboard.webhook_name!=None %}{% set name=starboard.webhook_name %}{% else %}{% set name="" %}{% endif %}
                {{ forms.input_text("Webhook Name", "webhook_name", name) }}
                {% if starboard.webhook_avatar!=None %}{% set avatar=starboard.webhook_avatar %}{% else %}{% set avatar="" %}{% endif %}
                {{ forms.input_text("Avatar Url", "webhook_avatar", avatar) }}
            </div>
        </li>
        <li class="accordion-item">
            <input id="accordion-check-2" type="checkbox">
            <label for="accordion-check-2" class="text-xl font-medium accordion-title">
                Requirements
            </label>
            <div class="accordion-body grid sm:grid-cols-2 gap-4">
                <div class="sm:col-span-2"></div>
                {{ forms.input_number("Required Stars", "required", "1", "100", starboard.required) }}
                {{ forms.input_number("Require To Remove", "required_removve", "-1", "95", starboard.required_remove) }}
                {{ forms.input_toggle("Self Stars", "self_star", starboard.self_star) }}
                {{ forms.input_toggle("Bots on Starboard", "allow_bots", starboard.allow_bots) }}
                {{ forms.input_toggle("Images Only", "images_only", starboard.images_only) }}
                <div class="sm:col-span-2">
                    {{ forms.input_text_long("Regex", "regex", starboard.regex) }}
                    {{ forms.input_text_long("Exclude Regex", "exclude_regex", starboard.exclude_regex) }}
                </div>
            </div>
        </li>
        <li class="accordion-item">
            <input id="accordion-check-3" type="checkbox">
            <label for="accordion-check-3" class="text-xl font-medium accordion-title">
                Behavior
            </label>
            <div class="accordion-body grid sm:grid-cols-2 gap-4">
                <div class="sm:col-span-2"></div>
                {{ forms.input_toggle("Ping Author", "ping", starboard.ping) }}
                {{ forms.input_toggle("Auto React", "autoreact", starboard.autoreact) }}
                {{ forms.input_toggle("Link Deletes", "link_deletes", starboard.link_deletes) }}
                {{ forms.input_toggle("Link Edits", "link_edits", starboard.link_edits) }}
                {{ forms.input_toggle("Remove Invalid Reactions", "remove_invalid", starboard.remove_invalid) }}
                {{ forms.input_toggle("No XP", "no_xp", starboard.no_xp) }}
                {{ forms.input_toggle("Allow Random", "explore", starboard.explore) }}
            </div>
        </li>
        <li class="accordion-item">
            <input id="accordion-check-4" type="checkbox">
            <label for="accordion-check-4" class="text-xl font-medium accordion-title">
                Whitelist/Blacklist
            </label>
            <div class="accordion-body grid gap-4">
                <div></div>
                <div class="form-control">
                    <label class="label">Channel Blacklist</label>
                    <select class="select2" name="test" style="width: 100%;" multiple="multiple">
                        <option value="op1" selected="selected">Option 1</option>
                        <option value="op2">Option 2</option>
                        <option value="op3">Option 3</option>
                    </select>
                </div>
                <div class="form-control">
                    <label class="label">Channel Whitelist</label>
                    <select class="select2" name="test2" style="width: 100%;" multiple="multiple">
                        <option value="op1">Option 1</option>
                        <option value="op2">Option 2</option>
                        <option value="op3" selected="selected">Option 3</option>
                    </select>
                </div>
            </div>
        </li>
    </div>
</div>

<script>
    $(document).ready(function() {
        $(".select2").select2();
    })
</script>
{% endblock %}
