{% extends "base.jinja" %}

{% block content %}
<div class="max-w-full flex justify-center">
    <h1 class="mt-8 mb-8 text-3xl">Pick a Server</h1>
</div>
<div class="container mx-auto max-w-xl mb-8">
    <div class="grid grid-cols-1">
    {% for guild in guilds %}
        <div class="flex bg-neutral hover:bg-base-200 p-1 m-1 items-center">
            <div class="avatar w-10 h-10 mr-2 inline-block flex-none">
                <div class="rounded-full w-10 h-10">
                    {% if guild.icon_url != None %}
                        <img src="{{ guild.icon_url }}">
                    {% else %}
                        <img src="{{ url_for('static', filename='img/default-icon.png') }}">
                    {% endif %}
                </div>
            </div>
            <div class="flex-1">
                {{ guild.name }}
            </div>
            <div class="flex-none justify-self-end">
                <a class="btn btn-sm btn-primary">Manage</a>
            </div>
        </div>
    {% endfor %}
    </div>
</div>
{% endblock %}