<!doctype html>

<html lang="en">
    <head>
        <meta charset="utf-8">

        <link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}"/>

        <title>Starboard</title>
        <meta name="description" content="The best Discord Starboard">
        <meta name="author" content="Circuit">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- JQuery -->
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

        <!-- Custom JS -->
        <script src="{{ url_for('static', filename='js/base.js') }}"></script>

        <!-- DaisyUI -->
        <link href="https://cdn.jsdelivr.net/npm/daisyui@0.28.0/dist/full.css" rel="stylesheet" type="text/css" />
        <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.1/dist/tailwind.min.css" rel="stylesheet" type="text/css" />

        <!-- Custom CSS -->
        <link href="{{ url_for('static', filename='css/base.css') }}" rel="stylesheet" />

        <!-- Select2 -->
        <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
        <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

        {% block topstatic %}{% endblock %}
    </head>
    <body class="bg-neutral text-neutral-content">
        <div class="drawer">
            <input id="id-drawer" type="checkbox" class="drawer-toggle">
            <div class="drawer-content flex flex-col">
                <div class="navbar bg-neutral-focus text-neutral-content">
                    <div class="flex-none lg:hidden">
                        <label for="id-drawer" class="btn btn-square btn-ghost">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block w-6 h-6 stroke-current">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
                            </svg>
                        </label>
                    </div>
                    <div class="flex-1 px-2 mx-2 lg:flex-none">
                        <span class="text-lg font-bold hidden sm:block">
                            <a href="/">
                                Starboard
                            </a>
                        </span>
                    </div>
                    <div class="justify-center flex-1 hidden px-2 mx-2 lg:flex">
                        <div class="flex items-stretch">
                            <a class="btn btn-ghost btn-sm rounded-btn" href="{{ url_for('docs') }}" target="_blank">
                                Docs
                            </a>
                            <a class="btn btn-ghost btn-sm rounded-btn" href="{{ url_for('support') }}" target="_blank">
                                Support
                            </a>
                            <a class="btn btn-ghost btn-sm rounded-btn" href="{{ url_for('premium') }}">
                                Premium
                            </a>
                            <a class="btn btn-ghost btn-sm rounded-btn" href="{{ url_for('servers') }}">
                                Manage
                            </a>
                        </div>
                    </div>
                    <div class="flex-none">
                        {% if user %}
                        <a class="btn btn-ghost rounded-btn" href="{{ url_for('profile') }}">
                            <div class="avatar w-10 h-10 mr-0 sm:mr-2 inline-block">
                                <div class="mb-8 rounded-full w-10 h-10">
                                    <img src="{{ user.avatar_url }}">
                                </div>
                            </div>
                            <span class="hidden sm:block">
                                Profile
                            </span>
                        </a>
                        {% else %}
                        <a class="btn btn-ghost rounded-btn" href="{{ url_for('login') }}">
                            Login
                        </a>
                        {% endif %}
                    </div>
                </div>
                <div class="min-h-screen-minus-nav flex flex-col">
                    <div class="flex-grow flex flex-col">
                        {% block content %}{% endblock %}
                    </div>

                    <div class="grid grid-cols-1 sm:grid-cols-3 bg-neutral-focus p-8 gap-4" style="border-top: 1px solid grey;">
                        <div>
                            <h3 class="text-2xl">Starboard</h3>
                            The most advanced Discord Starboard in existence.
                        </div>
                        <div>
                            <h3 class="text-1xl font-bold">Legal</h3>
                            <a class="link">Privacy Policy</a><br>
                            <a class="link">Terms of Service</a>
                        </div>
                        <div>
                            <h3 class="text-1xl font-bold">Contact</h3>
                            <a class="link">Email Us</a><br>
                            <a href="{{ url_for('support') }}" class="link" target="_blank">Join our Discord</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="drawer-side">
                <label for="id-drawer" class="drawer-overlay min-h-screen"></label>
                <ul class="p-4 overflow-y-auto menu w-80 bg-base-100">
                    <li>
                        <a href="{{ url_for('index') }}">Home</a>
                    </li>
                    <li>
                        <a href="{{ url_for('docs') }}" target="_blank">Docs</a>
                    </li> 
                    <li>
                        <a href="{{ url_for('support') }}" target="_blank">Support</a>
                    </li>
                    <li>
                        <a href="{{ url_for('premium') }}">Premium</a>
                    </li>
                    <li>
                        <a href="{{ url_for('servers') }}">Manage</a>
                    </li>
                </ul>
            <div>
        </div>

        <div class="toast-wrapper">
            {% for _m in get_flashed_messages(with_categories=true) %}
                {% set c, message = _m %}
                <div class="alert {% if c=='message' %}alert-info{% else %}alert-error{% endif %} shadow-lg" id="toast-{{ loop.index0 }}">
                    <div class="flex-1">
                        {{ message }}
                    <div>
                    <div class="flex-none ml-1">
                        <a href="javascript:removeToast('toast-{{ loop.index0 }}')">✖</a>
                    </div>
                </div>
            {% endfor %}
        </div>

        {% block bottomstatic %}{% endblock %}
    </body>
</html>