{% extends "base.jinja" %}

{% block topstatic %}
<link href="{{ url_for('static', filename='css/home.css') }}" rel="stylesheet" />
{% endblock %}

{% block content %}
<div class="hero min-h-screen bg-nuetral primary-wave-1" id="div-1">
    <div class="text-center hero-content">
        <div class="max-w-full">
            <h1 class="mb-5 text-5xl font-bold">
                Starboard
            </h1> 
            <p class="mb-5">
                The most advanced and reliable Discord Starboard
            </p> 
            <button class="btn btn-primary btn-lg">Get Started</button>
            <button class="btn btn-ghost btn-lg">Learn More</button>
            <br><br>
            <div class="grid gap-4 grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title text-primary">3 Million</h2> 
                        <p>Members</p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title text-primary">5 Thousand</h2> 
                        <p>Servers</p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title text-primary">1 Million</h2> 
                        <p>Starred Messages</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}