{% extends "base.jinja" %}

{% block topstatic %}
<link href="{{ url_for('static', filename='css/home.css') }}" rel="stylesheet" />
{% endblock %}

{% block content %}
<div class="hero min-h-screen-minus-nav bg-nuetral primary-wave-1" id="div-1">
    <div class="flex-col-reverse hero-content lg:flex-row-reverse">
        <div class="grid sm:gap-4 grid-cols-1 lg:grid-cols-1 sm:grid-cols-3 mb-20 sm:mb-0 min-w-full sm:min-w-0">
            <div class="card">
                <div class="card-body p-6 sm:p-8">
                    <h2 class="card-title text-primary">3 Million</h2> 
                    <p>Members</p>
                </div>
            </div>
            <div class="card">
                <div class="card-body p-6 sm:p-8">
                    <h2 class="card-title text-primary">5 Thousand</h2> 
                    <p>Servers</p>
                </div>
            </div>
            <div class="card">
                <div class="card-body p-6 sm:p-8">
                    <h2 class="card-title text-primary">1 Million</h2> 
                    <p>Starred Messages</p>
                </div>
            </div>
        </div>
        <div>
            <h1 class="mb-4 text-5xl font-bold">
                The Best Discord Starboard
            </h1>
            <p class="mb-5 text-1xl font-bold">
                Multiple starboards, AutoStar channels, Award Roles, and much more!
            </p>
            <div class="mb-5">
                <a class="btn btn-primary btn-lg" href="{{ url_for('manage') }}">Get Started</a>
                <a class="btn btn-ghost btn-lg">Learn More</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}